/* CSS CLEAR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button{
    background-color: transparent;
    border: none;
}
/* GENERICS */

body{
    background-color: #F6F8F9;
}


 /* HEADER */
.banner{
    height: 80px;
    background-color: white;
    
}

.logo{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}

.title-logo{
    display: inline-block;
    height: 100%;
    margin-top: 10px;
    font-size: 38px;
    font-weight: bold;
    vertical-align: top;
    
}

/* DIV CONTAINER */

.container{
    width: 1000px;
    margin: 40px auto;
    background-color: white;
}

.bar{
    height: 60px;
    border-bottom: 2px solid rgba(80, 80, 80, 0.1);
}


.add-task{
    margin: 17px 0px 0px 60px;
    display: inline-block;
    background-color: #47ADF1;
    height: 30px;
    line-height: 30px;
    width: 83px;
    border-radius: 4px;
    text-align: center;
    color: white;

    cursor: pointer;
    
}

.add-section{
    margin: 17px 0px 0px 5px;
    display: inline-block;
    background-color: white;
    height: 30px;
    line-height: 30px;
    width: 120px;
    border-radius: 4px;
    text-align: center;
    color: rgba(50, 50, 50, 0.3);
    border: 1px solid;
    
    cursor: pointer;
    
}




/* DIV CONTAINER-LIST */

.container-list{
    padding: 40px;
}

details{
    padding:20px;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 5px;
    
}
  
  

.large-text{
    font-size: 26px;
    font-weight: bold;
}

  
.check-dot::before {
    content: '✔';
    height: 20px;
    width: 20px;
    margin: 0 auto;
    color: #62BFA7;
    border: 2px solid #62BFA7;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
}


.cross-dot::before {
    content: '✖';
    height: 20px;
    width: 20px;
    margin: 0 auto;
    color:#e84b43;
    border: 2px solid #e84b43;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
}

.label{
    display: inline-block;
    height: 25px;
    width: 75px;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
    color: white;
    font-size: 14px;
}

.editorial{
    background-color: #47ADF1;
} 
.q1-goals{
    background-color: #9b71e3;
}

.recruting{
    background-color: #64c0a9;
}


.mobile{
    background-color: #f09c32;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #afc825;
}