/* CSS CLEAR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body{
    background-color: #F6F8F9;
}


 /* HEADER */
.banner{
    height: 80px;
    background-color: white;
    
}

.logo{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}

.title-logo{
    display: inline-block;
    height: 100%;
    margin-top: 10px;
    font-size: 38px;
    font-weight: bold;
    vertical-align: top;
    
}